RewriteEngine On
RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
RewriteRule \.php$ - [F]
RewriteRule test index.php


<FilesMatch "\.(inc|sql|lock)$">
  Order allow,deny
  Deny from all
</FilesMatch>
